.__footer{
    background-color: #362c44;
    height: 200px;
    color: #ffffff;
    text-align: center;

    .__pumpkin{
        width: 100%;
        height: 90%;
        object-fit: contain;
    }
}